<div class="container h-100" align-middle>
  <form [formGroup]="user" (ngSubmit)="onSubmit()" class="row justify-content-center h-100">
    <div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5 col-margin-y">
      <div class="content-container">
        <h3 class="form-group font-weight-bold">
          <label>GSG Registration</label>
        </h3>
        <div class="form-group">
          <label for="inputEmail" class="text-danger">Email address</label>
          <input autofocus type="email" class="form-control is-invalid" id="inputEmail" placeholder="Enter email" formControlName="email">
          <div class="invalid-feedback">
            This email address is already used.
          </div>
        </div>
        <div class="row">
          <div class="col-11">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="inputPassword" class="text-danger">Password</label>
                  <input type="password" class="form-control is-invalid" id="inputPassword" placeholder="Enter password" formControlName="password">
                  <div class="invalid-feedback">
                    This field is not valid, you need to provide more correct text, do you hear me great user.
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="inputRepeatedPassword" class="text-danger">Repeat</label>
                  <input type="password" class="form-control is-invalid" id="inputRepeatedPassword" placeholder="Repeat password" formControlName="repeatedPassword">
                  <div class="invalid-feedback">
                    This field is not valid, you need to provide more correct text, do you hear me great user.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1 pl-1 password-visibility-switch">
            <div class="form-group">
              <i class="far fa-eye fa-lg"></i>
              <!-- <i class="far fa-eye-slash fa-lg"></i> -->
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputFirstName" class="text-danger">First Name</label>
          <input type="text" class="form-control is-invalid" id="inputFirstName" placeholder="Enter first name" formControlName="firstName">
          <div class="invalid-feedback">
            This field is not valid, you need to provide more correct text, do you hear me great user.
          </div>
        </div>
        <div class="form-group">
          <label for="inputLastName" class="text-danger">Last Name</label>
          <input type="text" class="form-control is-invalid" id="inputLastName" placeholder="Enter last name" formControlName="lastName">
          <div class="invalid-feedback">
            This field is not valid, you need to provide more correct text, do you hear me great user.
          </div>
        </div>
        <div class="form-group">
          <label for="inputPhoneNumber" class="text-danger">Phone Number</label>
          <input type="text" class="form-control is-invalid" id="inputPhoneNumber" placeholder="Enter phone number" formControlName="phoneNumber">
          <div class="invalid-feedback">
            This field is not valid, you need to provide more correct text, do you hear me great user.
          </div>
        </div>
        <div class="form-group mb-0">
          <button type="submit" class="btn btn-primary float-right">Register</button>
          <button type="button" class="btn btn-link login-button" routerLink="/login">Login Page</button>
        </div>
      </div>
    </div>
  </form>
</div>

