<div class="container registration-container">
  <form [formGroup]="user" (ngSubmit)="onSubmit()" class="row justify-content-sm-center align-content-sm-center registration-row">
    <div class="col col-sm-8 col-md-7 col-lg-6 col-xl-5 registration-col">
      <h3 class="form-group font-weight-bold">
        <label>GSG Registration</label>
      </h3>
      <div class="form-group text-danger">
        <label for="inputEmail" class="text-danger">Email address</label>
        <input autofocus type="email" class="form-control is-invalid" id="inputEmail" placeholder="Enter email" formControlName="email">
        <div class="invalid-feedback">
          This email address is already used.
        </div>
      </div>
      <div class="row">
        <div class="col pr-1">
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter password" formControlName="password">
          </div>
        </div>
        <div class="col px-1">
          <div class="form-group">
            <label for="inputRepeatedPassword">Repeat</label>
            <input type="password" class="form-control" id="inputRepeatedPassword" placeholder="Repeat password" formControlName="repeatedPassword">
          </div>
        </div>
        <div class="col-auto pl-1 password-visibility-switcher">
          <div class="form-group">
            <i class="far fa-eye fa-lg"></i>
            <!-- <i class="far fa-eye-slash fa-lg"></i> -->
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Enter first name" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Enter last name" formControlName="lastName">
      </div>
      <div class="form-group">
        <label for="inputPhoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Enter phone number" formControlName="phoneNumber">
      </div>
      <button type="submit" class="btn btn-primary float-right mt-3">Register</button>
      <button type="button" class="btn btn-link float-left mt-3 login-button" routerLink="/login">Login Page</button>
    </div>
  </form>
</div>

