<div class="container login-container">
  <div class="row justify-content-sm-center align-content-sm-center login-row">
    <div class="col col-sm-4 login-col">
      <h3 class="form-group font-weight-bold">
        <label>GSG Login</label>
      </h3>
      <div class="form-group">
        <label for="exampleInputEmail">Email address</label>
        <input autofocus type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
      </div>
      <button type="button" class="btn btn-primary float-right mt-3">Login</button>
      <button type="button" class="btn btn-link float-left mt-3 registration-button" routerLink="/registration">Register Account</button>
    </div>
  </div>
</div>
