<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/">GSG</a>

  <form class="form-inline ml-auto my-2 my-lg-0">
    <div class="dropdown">
      <span
        id="navbarDropdown"
        class="dropdown-toggle navbar-dropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
      </span>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <span class="dropdown-item">logout</span>
      </div>
    </div>
  </form>
</nav>

{{ currentUser | json }}

<router-outlet></router-outlet>
